.page {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #373737;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff;
}


/* @media screen and (max-width: 1279.98px) {
  
}

@media screen and (max-width: 1023.98px) {
  
}

@media screen and (max-width: 767.98px) {
  
}

@media screen and (max-width: 479.98px) {
  
} */
