.page {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #575050;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  /* border: 1px red solid; */
}


/* @media screen and (max-width: 1279.98px) {
  
}

@media screen and (max-width: 1023.98px) {
  
}

@media screen and (max-width: 767.98px) {
  
}

@media screen and (max-width: 479.98px) {
  
} */
