.routs__text {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 300;
  font-size: 19px;
  line-height: 21px;
}

.routs__text:last-child {
  margin-top: 15px;
}

.routs__text li {
  margin-top: 10px;
}

.routs__text i {
  color: rgba(15, 13, 13, 0.926);
  font-weight: 700;
}

.routs__text b {
  font-weight: 700;
  font-size: 23px;
  line-height: 25px;
}

.routs__text:nth-child(3) {
  margin-top: 10px;
}

.points {
  list-style-type: none;
}

@media screen and (max-width: 1279.98px) {
  .routs__text {
    font-size: 17px;
    line-height: 17px;
  }

  .routs__text b {
    font-size: 20px;
    line-height: 21px;
  }
}

@media screen and (max-width: 1023.98px) {
  .routs__text {
    font-size: 14px;
    line-height: 14px;
  }

  .routs__text b {
    font-size: 19px;
    line-height: 19px;
  }
}

@media screen and (max-width: 767.98px) {
  .routs__text {
    font-size: 26px;
    line-height: 28px;
  }

  .routs__text b {
    font-size: 30px;
    line-height: 32px;
  }
}

@media screen and (max-width: 479.98px) {
  .routs__text {
    font-size: 17px;
    line-height: 18px;
  }

  .routs__text b {
    font-size: 22px;
    line-height: 23px;
  }
}