.collage {
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media screen and (max-width: 1279.98px) {
  .collage {
    gap: 40px;
  }
}

@media screen and (max-width: 1023.98px) {
  .collage {
    gap: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .collage {
    gap: 37px;
    padding: 0 12px;
    flex-direction: column;
  }
}

@media screen and (max-width: 479.98px) {
  .collage {
    gap: 25px;
    padding: 0 8px;
  }
}