.routs__subtitle {
  margin: 27px auto;
  height: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 33px;
  line-height: 34px;
}

@media screen and (max-width: 1279.98px) {
  .routs__subtitle {
    font-size: 28px;
    line-height: 29px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 1023.98px) {
  .routs__subtitle {
    font-size: 23px;
    line-height: 25px;
    height: 80px;
    margin: 16px auto;
  }
}

@media screen and (max-width: 767.98px) {
  .routs__subtitle {
    font-size: 34px;
    line-height: 35px;
    height: auto;
    margin: 25px auto;
  }
}

@media screen and (max-width: 479.98px) {
  .routs__subtitle {
    font-size: 25px;
    line-height: 26px;
  }
}