.introduction__title {
  margin: 25px auto 0;
  padding: 0 25px;
  max-width: 900px;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 37px;
  text-align: center;
}

@media screen and (max-width: 1023.98px) {
  .introduction__title {
    font-size: 32px;
    line-height: 34px;  
  }
}

@media screen and (max-width: 767.98px) {
  .introduction__title {
    font-size: 28px;
    line-height: 30px;  
  }
}

@media screen and (max-width: 479.98px) {
  .introduction__title {
    font-size: 22px;
    line-height: 24px;  
  }
}