.introduction {
  max-width: 990px;
  margin: 100px auto 100px;
  padding: 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 35px;
  border: #87ab5499 solid 6px;
  color: #515b58;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(135, 171, 84, 0.25) inset;
  -moz-box-shadow: 0px 0px 15px 2px rgba(135, 171, 84, 0.25) inset;
  box-shadow: 0px 0px 15px 2px rgba(135, 171, 84, 0.25) inset;
}

@media screen and (max-width: 1279.98px) {
  .introduction {
    width: 98vw;
    margin: 80px auto 90px;
  }
}

@media screen and (max-width: 1023.98px) {
  .introduction {
    margin: 70px auto 75px;
  }
}

@media screen and (max-width: 767.98px) {
  .introduction {
    margin: 65px auto 65px;
  }
}

@media screen and (max-width: 479.98px) {
  .introduction {
    margin: 55px auto 50px;
  }
}