.header__link {
  width: 45px;
  height: auto;
}

@media screen and (max-width: 1279.98px) {
  .header__link {
    width: 43px;
  }
}

@media screen and (max-width: 1023.98px) {
  .header__link {
    width: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__link {
    width: 35px;
  }
}

@media screen and (max-width: 479.98px) {
  .header__link {
    width: 32px;
  }
}