.collage__text {
  margin: 0;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
}

.collage__text b {
  font-weight: 500;
}

@media screen and (max-width: 1279.98px) {
  .collage__text {
    font-size: 20px;
    line-height: 23px;
  }
}

@media screen and (max-width: 1023.98px) {
  .collage__text {
    font-size: 18px;
    line-height: 19px;
  }
}

@media screen and (max-width: 767.98px) {
  .collage__text {
    font-size: 20px;
    line-height: 23px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 479.98px) {
  .collage__text {
    font-size: 17px;
    line-height: 19px;
    padding: 0 10px;
  }
}