.header__button {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  padding: 7px 13px;
  color: rgb(97, 110, 255);
  background: #efefef00;
  border-radius: 5px;
  border: 3px solid rgb(97, 110, 255);
  transition: all 0.4s ease;
}

.header__button:hover {
  background: rgb(97, 110, 255);
  color: #ffffff;
  border: 3px solid rgb(97, 110, 255);
  transition: all 0.4s ease;
}

@media screen and (max-width: 1279.98px) {
  
}

@media screen and (max-width: 1023.98px) {
  .header__button {
    font-size: 18px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__button {
    padding: 5px 10px;
    font-size: 17px;
    border: 2.5px solid rgb(97, 110, 255);
  }
}

@media screen and (max-width: 479.98px) {
  .header__button {
    padding: 4px 8px;
    font-size: 15px;
    border: 2px solid rgb(97, 110, 255);
  }
}