@keyframes slideme {
  0% {
      left: -30px;
      margin-left: 0px;
  }
  30% {
      left: 110%;
      margin-left: 80px;
  }
  100% {
      left: 110%;
      margin-left: 80px;
  }
}

.header__button {
  overflow: hidden;
  position: relative;
  padding: 15px 20px;
  width: 250px;
  height: 86px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  background-color: rgba(64, 166, 255, 0.6);
  color: #1a1818d0;
  border: none;
  border-radius: 50px;
  transition: 0.4s;
}

.header__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: 60px;
  height: 100px;
  background-color: #fff;
  filter: blur(30px);
  transform: skewX(30deg) translateZ(0);
  transition: 1s;
  animation-name: slideme;
  animation-duration: 3s;
  animation-delay: 0.05s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.header__button:hover {
  color: #1a1818;
  background-color: #40a6ff;
  transition: 0.4s;
  box-shadow: 0 0 10px 10px #40a6ff57;
}

.header__button::before {
  animation: shiny-btn1 3s ease-in-out infinite;
}

@media screen and (max-width: 1023.98px) {
  .header__button {
    padding: 10px 15px;
    width: 200px;
    height: 65px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__button {
    padding: 10px 15px;
    width: 260px;
    height: 40px;
    font-size: 17px;
    line-height: 21px;
  }
}

@media screen and (max-width: 479.98px) {
  .header__button {
    padding: 5px 5px;
    width: 149px;
    height: 43px;
    font-size: 16px;
    line-height: 17px;
  }
}