.header__button {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  padding: 7px 13px;
  color: rgb(97, 110, 255);
  background: #efefef00;
  border-radius: 5px;
  border: 3px solid rgb(97, 110, 255);
  transition: all 0.4s ease;
}

.header__button:hover {
  background: rgb(97, 110, 255);
  color: #ffffff;
  border: 3px solid rgb(97, 110, 255);
  transition: all 0.4s ease;
}

@media screen and (max-width: 1279.98px) {
  
}

@media screen and (max-width: 1023.98px) {
  .header__button {
    font-size: 18px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__button {
    padding: 5px 10px;
    font-size: 17px;
    border: 2.5px solid rgb(97, 110, 255);
  }
}

@media screen and (max-width: 479.98px) {
  .header__button {
    padding: 4px 8px;
    font-size: 15px;
    border: 2px solid rgb(97, 110, 255);
  }
}


/* @keyframes slideme {
  0% {
      left: -30px;
      margin-left: 0px;
  }
  30% {
      left: 110%;
      margin-left: 80px;
  }
  100% {
      left: 110%;
      margin-left: 80px;
  }
}

.btn-new {
  overflow: hidden;
  position: relative;
}

.btn-new:after {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: 60px;
  height: 100px;
  background-color: #fff;
  filter: blur(30px);
  transform: skewX(30deg) translateZ(0);
  transition: 1s;
  animation-name: slideme;
  animation-duration: 3s;
  animation-delay: 0.05s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
} */