@keyframes slideme {
  0% {
      left: -30px;
      margin-left: 0px;
  }
  30% {
      left: 110%;
      margin-left: 80px;
  }
  100% {
      left: 110%;
      margin-left: 80px;
  }
}

.tagline__button {
  max-width: 655px;
  overflow: hidden;
  position: relative;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 45px;
  line-height: 50px;
  background-color: rgba(64, 166, 255, 0.64);
  color: #1a1818d0;
  border: none;
  border-radius: 50px;
  transition: 0.4s;
}

.tagline__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: 60px;
  height: 100px;
  background-color: #fff;
  filter: blur(30px);
  transform: skewX(30deg) translateZ(0);
  transition: 1s;
  animation-name: slideme;
  animation-duration: 3s;
  animation-delay: 0.05s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.tagline__button:hover {
  color: #1a1818;
  background-color: #40a6ff;
  transition: 0.4s;
  box-shadow: 0 0 10px 10px #40a6ff57;
}

.tagline__button::before {
  animation: shiny-btn1 3s ease-in-out infinite;
}

@media screen and (max-width: 1023.98px) {
  .tagline__button {
    padding: 18px 30px;
    font-size: 34px;
    line-height: 37px; 
  }
}

@media screen and (max-width: 767.98px) {
  .tagline__button {
    padding: 15px 25px;
    font-size: 30px;
    line-height: 32px;
  }
}

@media screen and (max-width: 479.98px) {
  .tagline__button {
    max-width: 300px;
    padding: 8px 14px;
    font-size: 25px;
    line-height: 27px;
  }
}