.routs__card {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto 150px 170px 77px auto;
}

@media screen and (max-width: 1023.98px) {
  .routs__card {
    grid-template-rows: auto auto 120px 185px 85px auto;
  }
}

@media screen and (max-width: 767.98px) {
  .routs__card {
    grid-template-rows: repeat(7, auto);
  }
}