.footer {
  width: 100%;
  background-color: #373737;
  color: #fff;
}

.footer__flex {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25px;
}

.footer__info {
  max-width: 600px;
  margin: 0 ;
  font-weight: 200;
  font-size: 18px;
}

.footer__contacts {
  width: 250px;
  white-space: nowrap;
  margin: 0 ;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}

.footer__contacts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



@media screen and (max-width: 1279.98px) {
  .footer__info {
    font-size: 16px;
  }

  .footer__contacts {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1023.98px) {
  .footer__info {
    font-size: 14px;
  }

  .footer__contacts {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 589.98px) {
  .footer__flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__info {
    font-size: 12px;
  }

  .footer__contacts {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 479.98px) {
  
}