.routs__grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 290px);
  justify-content: space-around;
}

@media screen and (max-width: 1279.98px) {
  .routs__grid {
    gap: 15px;
  }
}

@media screen and (max-width: 1023.98px) {
  .routs__grid {
    max-width: 780px;
    grid-template-columns: repeat(3, 210px);
    gap: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .routs__grid {
    grid-template-columns: 65vw;
    grid-template-rows: repeat(3, auto);
    gap: 75px;
  }
}

@media screen and (max-width: 479.98px) {
  .routs__grid {
    grid-template-columns: 85vw;
    gap: 50px;
  }
}