.header__flex {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279.98px) {
  
}

@media screen and (max-width: 1023.98px) {
  
}

@media screen and (max-width: 767.98px) {
  
}

@media screen and (max-width: 479.98px) {
  .header__flex {
    padding: 0 10px;
  }
}